.nannyBlock {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 28px;
}

.nannyAvatar {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    object-fit: cover;
}

.yourNanny {
    font-size: 14px;
    color: #a3a3a3;
    margin: 0;
}

.nannyName {
    font-weight: 600;
    margin: 0;
}