/* src/styles/theme.tsx */
html,
body {
    font-family: "HelveticaNeue", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --header-bg: #f03f3b;
    --btn-bg: #f03f3b;
    --box-bg: #f03f3b;
    --btn-text: #fbfbfb;
    --avatar-bg: rgba(240, 63, 59, 0.2);
    --btn-bg-hover: #fbfbfb;
    --btn-text-hover: #f03f3b;
    --btn-border: #f03f3b;
}

[data-theme="primary-blue"] {
    --header-bg: #0957c3;
    --btn-bg: #0957c3;
    --box-bg: #0957c3;
    --btn-text: #fbfbfb;
    --avatar-bg: rgba(9, 87, 195, 0.2);
    --btn-bg-hover: #fbfbfb;
    --btn-text-hover: #0957c3;
    --btn-border: #0957c3;
}

[data-theme="deep-teal"] {
    --header-bg: #103931;
    --btn-bg: #103931;
    --box-bg: #103931;
    --btn-text: #fbfbfb;
    --avatar-bg: rgba(16, 57, 49, 0.2);
    --btn-bg-hover: #fbfbfb;
    --btn-text-hover: #103931;
    --btn-border: #103931;
}