/* src/pages/Home/Home.module.css  */
.hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1536px;
    margin: 0;
    padding: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left {
    flex: 1;
    min-height: 736px;
    padding: 0 31px 0 62px;
    border-radius: 30px 30px 0 0;
    background: var(--header-bg);
}

.leftGroup {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1 {
    margin: 0 0 28px 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--btn-text);
    width: 100%;
    max-width: 517px;
    word-break: break-word;
}

.left p {
    margin: 0 0 64px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    color: var(--btn-text);
    width: 100%;
    max-width: 517px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
    padding: 0;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--btn-bg);
    color: var(--btn-text);
    gap: 18px;
}

.button:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    fill: currentColor;
    transition: 0.2s ease;
}

.right {
    flex: 1;
    min-height: 736px;
    border-radius: 0 0 30px 30px;
    position: relative;
    background-image: url("/Image.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.right::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(11, 11, 11, 0.6);
    z-index: 0;
}

.overlayCard {
    position: absolute;
    width: 100%;
    max-width: 284px;
    height: 118px;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 2;
    box-sizing: border-box;
}

.iconBox {
    border-radius: 13px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--box-bg);
}

.tickIcon {
    width: 30px;
    height: 30px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inscription {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 16, 28, 0.5);
    margin: 0;
}

.count {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #11101c;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
        height: 736px;
        padding: 32px;
    }

    .left {
        border-radius: 30px 0 0 30px;
        min-height: auto;
    }

    .right {
        border-radius: 0 30px 30px 0;
        min-height: auto;
    }


}

@media screen and (max-width: 1440px) {
    @media screen and (min-width: 1440px) {
        .hero {
            max-width: 1376px;
            margin: 0 auto;
        }

        .left {
            padding-left: 96px;
        }

        .leftGroup {
            padding-top: 251px;
        }

        .overlayCard {
            bottom: 50px;
            right: 50px;
        }
    }
}