/* src/components/AuthModal/AuthModal.module.css */
.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 30px;
}

.modal {
    border-radius: 30px;
    background: #fbfbfb;
    overflow-y: auto;
    padding: 64px;
    position: relative;
    width: 472px;
}

.closeBtn {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.closeIcon {
    width: 32px;
    height: 32px;
    color: #11101C;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #11101c;
    margin-bottom: 20px;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    background: #fbfbfb;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #11101c;
    border: 1px solid rgba(17, 16, 28, 0.1);
    border-radius: 12px;
    width: 438px;
    padding: 16px 18px;
}

.error {
    font-size: 12px;
    color: #F03F3B;
    margin-top: 4px;
    height: 16px;
}

.submitBtn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    border-radius: 30px;
    padding-block: 16px;
    padding-inline: 196px;
    width: 472px;
    height: 52px;
    border: none;
    cursor: pointer;
    background: var(--btn-bg);
    color: var(--btn-text);
    transition: transform 0.3s ease;
}

.submitBtn:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
    border: 1px solid var(--btn-border);
}

.divider {
    margin: 16px 0;
}

.googleBtn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    border-radius: 30px;
    padding-block: 16px;
    padding-inline: 160px;
    width: 472px;
    height: 52px;
    border: none;
    cursor: pointer;
    background: var(--btn-bg);
    color: var(--btn-text);
    transition: transform 0.3s ease;
    bottom: none;
}

.googleBtn:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
    border: 1px solid var(--btn-border);
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

.eyeBtn {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}