/* src/pages/Nannies/Nannies.module.css */
.nanniesPage {
    padding: 32px 16px 60px;
    background: #f3f3f3;
}

.nanniesPage p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #8a8a89;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    color: var(--btn-text);
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMore {
    border-radius: 30px;
    padding-block: 14px;
    padding-inline: 40px;
    width: 100%;
    max-width: 280px;
    margin: 64px auto 0;
    display: block;
    border: none;
    background: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid var(--btn-border);
}

.loadMore:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

@media screen and (min-width: 768px) {

    .nanniesPage {
        padding: 64px 40px 80px;
    }

    .grid {
        gap: 32px;
    }

}

@media screen and (min-width: 1440px) {

    .nanniesPage {
        padding: 64px 128px 100px;
    }

    .loadMore {
        width: 159px;
        height: 48px;
    }

}