 /* src/components/Header/Header.module.css */
 .left {
     display: flex;
     align-items: center;
     width: 100%;
 }

 .logoBlock {
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .logoIcon {
     width: 162px;
     height: 23px;
     display: block;
 }

 .nav {
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .nav a {
     position: relative;
     text-decoration: none;
     color: var(--btn-text);
     font-weight: 500;
 }

 .centerNav {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .active::after {
     content: "";
     position: absolute;
     bottom: -16px;
     left: 50%;
     transform: translateX(-50%);
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background-color: white;
 }

 .activeHome::after {
     display: none;
 }

 .right {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .authBtnLogin {
     background: none;
     border: 1px solid rgba(251, 251, 251, 0.4);
     border-radius: 30px;
     padding-block: 14px;
     padding-inline: 39px;
     width: 124px;
     height: 48px;
     cursor: pointer;
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: -0.01em;
     color: var(--btn-text);
     transition: all 0.3s ease;
 }

 .authBtnLogin:hover {
     transform: translateY(-2px);
     background: var(--btn-bg-hover);
     color: var(--btn-text-hover);
 }

 .authBtnRegister {
     border: 1px solid rgba(251, 251, 251, 0.4);
     border-radius: 30px;
     padding-block: 14px;
     padding-inline: 40px;
     width: 168px;
     height: 48px;
     background: var(--btn-bg);
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: -0.01em;
     color: var(--btn-text);
     transition: all 0.3s ease;
     cursor: pointer;
 }

 .authBtnRegister:hover {
     transform: translateY(-2px);
     background: var(--btn-bg-hover);
     color: var(--btn-text-hover);
 }

 .userInfo {
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 18px;
     line-height: 1.11111;
     letter-spacing: -0.01em;
     color: var(--btn-text);
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .avatar {
     width: 40px;
     height: 40px;
     object-fit: cover;
 }

 .logoutBtn {
     border: 1px solid rgba(251, 251, 251, 0.4);
     border-radius: 30px;
     padding-block: 14px;
     padding-inline: 39px;
     width: 134px;
     height: 48px;
     background: var(--btn-bg);
     cursor: pointer;
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: -0.01em;
     color: var(--btn-text);
     transition: all 0.3s ease;
 }

 .logoutBtn:hover {
     transform: translateY(-2px);
     background: var(--btn-bg-hover);
     color: var(--btn-text-hover);
 }

 .header {
     margin-right: auto;
     background: var(--header-bg);
 }

 .themeSwitcher {
     margin: 0 12px;
     padding: 6px 10px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
 }

 .themeBtn {
     padding: 0;
     background: transparent;
     border: none;
     font-size: 20px;
     cursor: pointer;
     margin: 0px 470px 0px 0px;
 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;

     padding: 24px 96px;

     position: relative;
     z-index: 20;

     background: var(--header-bg);
 }

 .homeHeader {
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 30px;
     width: 1184px;
     padding: 52px 128px 20px 128px;
     background: transparent;
 }

 .homeHeader .authBtnRegister,
 .homeHeader .logoutBtn {
     border: none;
     background: var(--btn-bg);
 }

 .logoutBtn:hover,
 .authBtnRegister:hover {
     background: var(--btn-bg-hover);
 }