/* src/pages/Favorites.module.css */
.favoritesPage {
    background: #f3f3f3;
}

.container {
    max-width: 1376px;
    margin: 0 auto;
    padding: 32px 16px 60px;
}

.grid {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
    gap: 32px;
}

.loadMore {
    border-radius: 30px;
    padding-block: 14px;
    padding-inline: 40px;
    width: 159px;
    height: 48px;
    margin: 30px auto 0;
    display: block;
    background: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 64px;
    border: 1px solid var(--btn-border);
}

.loadMore:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

@media screen and (min-width: 768px) {

    .container {
        padding: 32px 40px 80px;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        padding: 32px 128px 100px;
    }
}