.favoritesPage {
    padding: 170px 128px 100px;
    background: #f3f3f3;
}

.grid {
    display: flex;
    flex-direction: column;
    /* якщо картки одна під одною */
    gap: 32px;
}

.loadMore {
    border-radius: 30px;
    padding-block: 14px;
    padding-inline: 40px;
    width: 159px;
    height: 48px;
    margin: 30px auto 0;
    display: block;
    border: none;
    background: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 64px;
    border: 1px solid var(--btn-border);
}

.loadMore:hover {
    transform: translateY(-2px);
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}